# Duplicate this file and name it "terraform.tfvars". Make your modifications below.
#
# Remote state information is here. This refers to the terraform state bucket/key that refers to the infrastructure you wish to deploy this instance into.
# Types: strings
remote_state_backend_type = "s3"
remote_state_backend_bucket = "gsa-devsecops-infrastructure-tf-state"
remote_state_backend_key = "terraform/terraform.tfstate"

# AWS region
region = "us-east-1"

# SSH key name to use (must already exist in the AWS account). The keyfile MUST be added to the ssh agent on the machine executing this code.
key_name = "jenkins"

# Here, you can specify a VPC ID. If you're using the remote backend of an infrastructure, then specify the terraform backend of the infrastructure in the above "remote_state" variables, then leave this blank. If left == "" it will default to remote state_mgmt_vpc_id variable from the remote state. Type: string
sg_vpc_id = ""

# Here, you can specify a subnet ID. Unless you're doing anything fancy, make sure you're hooking up a public subnet or put an elastic IP on the instance after the templates finish. A public subnet will usually assign a public IP address automatically. If you're using the remote backend of an infrastructure, then specify the terraform backend of the infrastructure in the above "remote_state" variables, then leave this blank. If left == "" it will default to the first public subnet listed in the remote mgmt_public_subnet_ids variable from the remote state. Type: string
instance_subnet_id = ""

# Security group name (will be created)
sg_name = "sg_jenkins_master"

# CIDRs to allow to connect to the web ports (80 and 443) - type: list
http_cidrs = ["0.0.0.0/0"]

# CIDRs to allow to connect to ssh port (22) - type: list
ssh_cidrs = ["0.0.0.0/0"]

# Name of the EC2 instance
jenkins_master_name = "jenkins-master"

# AMI ID to use - the AMI must exist
ami = "ami-a8d369c0"

# Instance type for the instance you want
instance_type = "m4.xlarge"

# The name to assign for the IAM EC2 instance role
iam_instance_profile_name = "jenkins_master_ec2_role"

# Hostname for private DNS hostname of the jenkins server
jenkins_master_private_dns = “jenkins-master.devsecops.local”

# Login for the initial user on the EC2 instance
vm_user = "ec2-user"

# S3 bucket to store backup files for the backup job
jenkins_backup_s3_bucket = "devsecops-jenkins-master-backup"

# S3 bucket key to store backup files
jenkins_backup_s3_key = "jenkins_backup_s3_key"